.app.dark {
  --bg-color: #06063c;
  --inverted-bg-color: #e8e8ea; 

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --incerted-primary-color: #0232c2;
  --incerted-secondary-color: #044c9e;
}
