:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #06063c;

  --primary-color: #0232c2;
  --secondary-color: #044c9e;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
